.LFImage {
	width: 50px;
}

/* OFFICE LIST STYLES*/
.card_content {
	padding-bottom: 10px;
	text-align: center;
}

.card_header {
	padding-top: 10px;
	padding-bottom: 10px;    
	text-align: center;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

/* APP MANAGER STYLES */

.color1{
	background: linear-gradient(#9FC6E7, #62a2d8);
}
.color1-tick{
	background-image: url("./images/tick.png"), linear-gradient(#9FC6E7, #62a2d8);
}
.color2{
	background: linear-gradient(#5484ED, #1755dd);
}
.color2-tick{
	background-image: url("./images/tick.png"), linear-gradient(#5484ED, #1755dd);
}
.color3{
	background: linear-gradient(#A4BDFC, #5a87fa);
}
.color3-tick{
	background-image: url("./images/tick.png"), linear-gradient(#A4BDFC, #5a87fa);
}
.color4{
	background: linear-gradient(#51B749, #398133);
}
.color4-tick{
	background-image: url("./images/tick.png"), linear-gradient(#51B749, #398133);
}
.color5{
	background: linear-gradient(#FBD75B, #f9c510);
}
.color5-tick{
	background-image: url("./images/tick.png"), linear-gradient(#FBD75B, #f9c510);
}
.color6{
	background: linear-gradient(#FFB878, #ff902c);
}
.color6-tick{
	background-image: url("./images/tick.png"), linear-gradient(#FFB878, #ff902c);
}
.color7{
	background: linear-gradient(#FF887C, #ff4330);
}
.color7-tick{
	background-image: url("./images/tick.png"), linear-gradient(#FF887C, #ff4330);
}
.color8{
	background: linear-gradient(#DC2127, #99171b);
}
.color8-tick{
	background-image: url("./images/tick.png"), linear-gradient(#DC2127, #99171b);
}
.color9{
	background: linear-gradient(#DBADFF, #b961ff);	
}
.color9-tick{
	background-image: url("./images/tick.png"), linear-gradient(#DBADFF, #b961ff);
}
.color10{
	background: linear-gradient(#E1E1E1, #bbbbbb);
}
.color10-tick{
	background-image: url("./images/tick.png"), linear-gradient(#E1E1E1, #bbbbbb);
}

.palette-item-inner {
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	/* border: 1px solid #666; */
	background-position:center;
}
.palette-item {
    display: inline-block;
    padding: 0;	
	border: 1px solid transparent;
}
.fileUpload {
    position: relative;
    overflow: hidden;
	/* margin: 10px; */
	margin-top: 5px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.controls {
    margin-left: 40px;
    margin-bottom: 15px;
}

.form-style {
    margin-left: 20px;
}

.my-boton {
    padding-left: 40px;
    padding-top: 10px;
}

/* FIN APP MANAGER STYLES */